body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightgray;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
* {
    font-family: "Verdana";
}
.title {
    text-align: center;
}
.container {
    background: gray;
    display: flex;
    flex-direction: column;
}
.container section {
    flex: 1 1 auto;
    padding: 1%;
}
.container .controls {
    background: gold;
}
.container .view {
    background: lightgreen;
}
.container .view .photo {
    text-align: center;
}
.container .view img {
    width: 50%;
    height: auto;
}
.container .controls .control {
    display: flex;
    flex-direction: column;
}
.container .controls .control .each-control {
    padding: 0.5%;
}


/*CSS variables*/

:root {
    --border: 5em;
    --blur: 10px;
    --base-color: #ff0000;
}
.container .view img {
    border: var(--border) solid var(--base-color);
    filter: blur(var(--blur));
}
.title span {
    color: var(--base-color);
}