body {
    background: lightgray;
    padding: 1em 2.5em;
}
* {
    font-family: "Verdana";
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
p {
    margin: 0px;
}

.title {
    text-align: center;
}
.container {
    background: gold;
    padding: 1em;
    width: 50%;
    margin: 0 auto;
}
.city-field {
    width: calc(100% - 2.5% - 2.5%);
    min-height: 40px;
    font-size: 1em;
    padding: 2.5%;
    border-width: 0px;
    text-align: center;
    outline: none;
    transition: ease-in 0.20s;
    margin: 0 auto;
}
.city-field:hover {
    border-bottom: 0.25em solid red;
}
.city {
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    font-size: 1em;
    background: white;
    margin-bottom: 2.5%;
}
.city .population {
    font-weight: lighter;
    color: gray;
}
.greenlighted {
    background: greenyellow;
}

@media all and (max-width: 480px) {
    body {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
        padding: 0px;
    }
}