body {
	height: 100vh;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
* {
	font-family: "Verdana";
}
.frame {
	width: 50vw;
	height: 50vw;
	background-image: url('./assets/analog-clock-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
    border: 0.25em solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hour {
	margin-left: 25%;
	width: 25%;
	height: 0.50em;
	background-color: red;
	z-index: 2;
	display: none;
}
.minute {
	margin-left: calc(50% - 37.5%);
	width: 37.5%;
	height: 0.50em;
	background-color: green;
	z-index: 1;
	display: none;
}
.second {
	margin-left: 0%;
	width: 50%;
	height: 0.50em;
	background-color: black;
	display: none;
}
