body {
	height: 100vh;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
* {
	font-family: "Verdana";
}
.title {
	text-align: center;
}
.frame {
	background-image: url('./assets/analog-clock-bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
}
.hand {
	height: 0.50em;
	transform-origin: 100%;
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: rotate(90deg);
	border-radius: 75%;
}
.hour {
	margin-left: 25%;
	width: 25%;
	background-color: red;
}
.minute {
	margin-left: 15%;
	width: 35%;
	background-color: green;
}
.second {
	margin-left: 10%;
	width: 40%;
	background-color: black;
}
